@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #242424;
}

body {
  margin: 0;
}
